[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mne = "*"
scikit-learn = "*"
jupyterlab = "*"
scipy = "*"
seaborn = "*"
pyxdf = "*"
pyqt5 = "*"
mne-icalabel = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
